<!--# layout("/view/include/layout.html", {cur: 'gonggao'}) { -->

 	<div class="daoqian">
	    <p class="dqtitle">道  歉  信</p>
	    <p align="left">尊敬的薛先生，王女士，窦女士等数位游客：</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您们好，关于您一行各位在云南旅游期间的不愉快，本人深表惋惜。同时我也深刻的意识到，作为一名导游，我的服务工作做的不够细致，并对于我言语中的不得当，在此向您表达诚挚的歉意。</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旅游是放松心情，愉悦心灵的一种方式；导游的作用就是让游客领悟云南的美，体验现代旅游的完善服务。但是，作为一名导游，没有让你们感受到旅游的愉悦，没有享受到贴心的服务，同时也给假日风光国际旅行社造成了恶劣的社会影响，我感觉很惭愧、很内疚。</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在带完数以百计的团队之后，我的服务意识逐渐麻木。每次都是流程般的安排好客人的衣食住行及景点讲解，以往的服务意识有些淡薄。但是，这次的投诉如醍醐灌顶，让我从迷茫中找到出路。优秀的服务才是我应该最擅长的技能，让客人满意才是我最重要的目的。也许，各位朋友的这次投诉会让我终生难忘,对于我以后的工作也是非常有帮助的。感谢您们给我提出的宝贵意见，也感谢您一行数位对我的大人大量，并祝大家好人一生平安！</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我本人已经接受公司对于我个人的各项处理决定，我会认真学习，努力早日回到工作岗位。希望大家不要对我失望，我还年轻、我的路还很长。我会在今后的工作中让游客开心而来，满意而归。</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后，还是要对您及各位团友表达诚挚的歉意，希望您下次的云南之旅会更美好；同时，感谢您们对本人的监督及批评，我会认真改正。</p>
	    <p>&nbsp;</p>
	    <p align="right">道歉人：裴金生</br>2014年7月30日 </p>
	    <p>&nbsp;</p>
	    <hr/>
	    <p>&nbsp;</p>
	    <p class="dqtitle">投诉处理情况报告</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兹因我云南假日风光国际旅行社（团号JR02-SK140715-JP-1）导游裴金生所接待游客薛先生一行数人所反映情况，我旅行社游客服务部主管、经理多次致电薛先生及其他游客，了解情况并致歉，在征得游客同意后，对此事件做出以下处理决定：</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一．对于该团导游裴金生进行停团3个月的处理决定，停团期间导游本人参加集团公司的统一培训，直至培训合格后方可上岗。二次上岗后进行为期6个月的行为监管。</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二．对于此次事件的发生，反映出我旅行社个别导游的服务存在问题、做的不够细致，我假日风光国际旅行社质量监督部门已将相关情况反映给集团公司导游部，导游部将对于所有我旅行社导游进行相关业务能力及服务的培训，且此培训将持续进行！</p>
	    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三．我假日风光国际旅行社将一如既往的做好各项工作，对于我团队中出现的个别事件，我旅行社绝不姑息，将坚决杜绝此类事件的发生！</p>
	    <p align="left">特此情况处理报告</p>
	    <p>&nbsp;</p>
	    <p align="right">云南假日风光国际旅行社</br>2014年7月30日 </p>
	    
  	</div>

<!--# } -->